# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# Outros
README.md
*.md
LICENSE
*.yml
*.yaml
!render.yaml

# Virtual Environment
ENV/

# Python
*.py[cod]
*$py.class
*.so
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Misc
.DS_Store
node_modules/ 